{% include 'overall_header.html' %}

<div class="panel">
	<div class="inner">

	<h2 class="donationcampaigns-heading">{% if S_DONATIONCAMPAIGNS_ADD %}{{ lang('DONATIONCAMPAIGNS_ADD_CAMPAIGN') }}{% else %}{{ lang('DONATIONCAMPAIGNS_EDIT_CAMPAIGN') }}{% endif %}</h2>
	<p>{{ lang('DONATIONCAMPAIGNS_FORM_EXPLAIN') }}</p>

	{% if S_DONATIONCAMPAIGNS_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('ERROR') }}</h3>
			{% for donationcampaigns_error in loops.donationcampaigns_error %}<p>{{ donationcampaigns_error.MESSAGE|e }}</p>{% endfor %}
		</div>
	{% endif %}

	<form id="donationcampaigns_campaign" method="post" action="{{ U_ACTION }}">
	<fieldset>
		{% include '@uflagmey_donationcampaigns/donationcampaigns_campaign_fields.html' with {'prefix': ''} %}
	</fieldset>

	<fieldset class="submit-buttons">
		<input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}">&nbsp;
		<input type="submit" name="cancel" class="button2" value="{{ lang('DONATIONCAMPAIGNS_BACK_TO_TOPIC') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
	</form>

	</div>
</div>

{% include 'overall_footer.html' %}
