{% include 'overall_header.html' %}

<a id="maincontent"></a>

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('ACP_DONATIONCAMPAIGNS_DONATIONS') }}</h1>

<p>{{ lang('DONATIONCAMPAIGNS_DONATIONS_OVERSIGHT_EXPLAIN') }}</p>

<p>
	<strong>{{ lang('DONATIONCAMPAIGNS_LIST_CAMPAIGN') }}{{ lang('COLON') }}</strong> {{ DONATIONCAMPAIGNS_CAMPAIGN_TITLE|e }}
	&nbsp;&mdash;&nbsp;
	<strong>{{ lang('DONATIONCAMPAIGNS_FORM_COLLECTED') }}{{ lang('COLON') }}</strong> {{ DONATIONCAMPAIGNS_COLLECTED_AMOUNT|e }}
</p>

<p><a class="button2" href="{{ U_DONATIONCAMPAIGNS_MANAGE }}">{{ lang('DONATIONCAMPAIGNS_MANAGE_ON_TOPIC') }}</a></p>

<fieldset class="tabulated">
<legend>{{ lang('ACP_DONATIONCAMPAIGNS_DONATIONS') }}</legend>

<table class="table1 zebra-table">
<thead>
<tr>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_DONOR') }}</th>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_AMOUNT') }}</th>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_RECEIVED_ON') }}</th>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_RECORDED_ON') }}</th>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_VISIBILITY') }}</th>
	<th scope="col">{{ lang('DONATIONCAMPAIGNS_LIST_ACTIONS') }}</th>
</tr>
</thead>
<tbody>
{% for donationcampaigns_donation in loops.donationcampaigns_donation %}
	<tr>
		<td><strong>{{ donationcampaigns_donation.DONOR_NAME|e }}</strong></td>
		<td>{{ donationcampaigns_donation.AMOUNT|e }}</td>
		<td>{{ donationcampaigns_donation.DONATED_AT|e }}</td>
		<td>{{ donationcampaigns_donation.RECORDED_AT|e }}</td>
		<td>
			{% if donationcampaigns_donation.S_PUBLIC %}{{ lang('DONATIONCAMPAIGNS_VISIBILITY_PUBLIC') }}{% else %}{{ lang('DONATIONCAMPAIGNS_VISIBILITY_ANONYMOUS') }}{% endif %}
		</td>
		<td>
			<a href="{{ donationcampaigns_donation.U_EDIT }}">{{ lang('DONATIONCAMPAIGNS_EDIT_ON_TOPIC') }}</a>
		</td>
	</tr>
{% else %}
	<tr class="row3">
		<td colspan="6">{{ lang('ACP_NO_ITEMS') }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</fieldset>

<div class="pagination">
{% if loops.pagination|length %}
	{% include 'pagination.html' %}
{% endif %}
</div>

{% include 'overall_footer.html' %}
