{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_DONATIONCAMPAIGNS_SETTINGS') }}</h1>

<p>{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPLAIN') }}</p>

{% if S_DONATIONCAMPAIGNS_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		{% for donationcampaigns_error in loops.donationcampaigns_error %}
			<p>{{ donationcampaigns_error.MESSAGE|e }}</p>
		{% endfor %}
	</div>
{% endif %}

{# Exactly one warning is visible at any moment. Before anything is
   touched: none. Once a currency field receives input: this banner, revealed
   by donationcampaigns_settings.js. Once the server has refused a change and
   is asking for confirmation: the validation box above, and this banner is
   not rendered at all, because the two said the same thing side by side. #}
{% if S_DONATIONCAMPAIGNS_HAS_AMOUNTS and not S_DONATIONCAMPAIGNS_CONFIRM_EXPONENT %}
	<div class="errorbox" id="donationcampaigns_exponent_warning" role="alert" hidden>
		<h3>{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT_WARNING_TITLE') }}</h3>
		<p>{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT_WARNING') }}</p>
	</div>
{% endif %}

<form id="donationcampaigns_settings" method="post" action="{{ U_ACTION }}">

<fieldset>
	<legend>{{ lang('DONATIONCAMPAIGNS_SETTINGS_CURRENCY') }}</legend>

	<dl>
		<dt>
			<label for="donationcampaigns_currency_code">{{ lang('DONATIONCAMPAIGNS_SETTINGS_CODE') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_CODE_EXPLAIN') }}</span>
		</dt>
		<dd><input id="donationcampaigns_currency_code" type="text" size="5" maxlength="3" name="donationcampaigns_currency_code" value="{{ DONATIONCAMPAIGNS_CURRENCY_CODE|e }}"></dd>
	</dl>

	<dl>
		<dt>
			<label for="donationcampaigns_currency_symbol">{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL_EXPLAIN') }}</span>
		</dt>
		<dd><input id="donationcampaigns_currency_symbol" type="text" size="10" maxlength="10" name="donationcampaigns_currency_symbol" value="{{ DONATIONCAMPAIGNS_CURRENCY_SYMBOL|e }}"></dd>
	</dl>

	<dl>
		<dt>
			<label for="donationcampaigns_currency_symbol_before">{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL_BEFORE') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL_BEFORE_EXPLAIN') }}</span>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="donationcampaigns_currency_symbol_before" value="1"{% if S_DONATIONCAMPAIGNS_SYMBOL_BEFORE %} id="donationcampaigns_currency_symbol_before" checked{% endif %} > {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="donationcampaigns_currency_symbol_before" value="0"{% if not S_DONATIONCAMPAIGNS_SYMBOL_BEFORE %} id="donationcampaigns_currency_symbol_before" checked{% endif %} > {{ lang('NO') }}</label>
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="donationcampaigns_currency_symbol_space">{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL_SPACE') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_SYMBOL_SPACE_EXPLAIN') }}</span>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="donationcampaigns_currency_symbol_space" value="1"{% if S_DONATIONCAMPAIGNS_SYMBOL_SPACE %} id="donationcampaigns_currency_symbol_space" checked{% endif %} > {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="donationcampaigns_currency_symbol_space" value="0"{% if not S_DONATIONCAMPAIGNS_SYMBOL_SPACE %} id="donationcampaigns_currency_symbol_space" checked{% endif %} > {{ lang('NO') }}</label>
		</dd>
	</dl>

	<dl>
		<dt>
			<label for="donationcampaigns_currency_exponent">{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT_EXPLAIN') }}</span>
		</dt>
		<dd><input id="donationcampaigns_currency_exponent" type="number" min="0" max="4" step="1" size="3" name="donationcampaigns_currency_exponent" value="{{ DONATIONCAMPAIGNS_CURRENCY_EXPONENT }}"></dd>
	</dl>

	{% if S_DONATIONCAMPAIGNS_CONFIRM_EXPONENT %}
		<dl>
			<dt>
				<label for="donationcampaigns_confirm_exponent">{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT_CONFIRM') }}{{ lang('COLON') }}</label>
				<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_EXPONENT_CONFIRM_EXPLAIN') }}</span>
			</dt>
			<dd><input id="donationcampaigns_confirm_exponent" type="checkbox" class="radio" name="donationcampaigns_confirm_exponent" value="1"></dd>
		</dl>
	{% endif %}
</fieldset>

<fieldset>
	<legend>{{ lang('DONATIONCAMPAIGNS_SETTINGS_DISPLAY') }}</legend>

	<dl>
		<dt>
			<label for="donationcampaigns_donor_list_limit">{{ lang('DONATIONCAMPAIGNS_SETTINGS_DONOR_LIMIT') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_DONOR_LIMIT_EXPLAIN') }}</span>
		</dt>
		<dd><input id="donationcampaigns_donor_list_limit" type="number" min="1" max="500" step="1" size="5" name="donationcampaigns_donor_list_limit" value="{{ DONATIONCAMPAIGNS_DONOR_LIST_LIMIT }}"></dd>
	</dl>

	<dl>
		<dt>
			<label for="donationcampaigns_list_enabled">{{ lang('DONATIONCAMPAIGNS_SETTINGS_LIST_ENABLED') }}{{ lang('COLON') }}</label>
			<br><span>{{ lang('DONATIONCAMPAIGNS_SETTINGS_LIST_ENABLED_EXPLAIN') }}</span>
		</dt>
		<dd>
			<label><input type="radio" class="radio" name="donationcampaigns_list_enabled" value="1"{% if S_DONATIONCAMPAIGNS_LIST_ENABLED %} id="donationcampaigns_list_enabled" checked{% endif %} > {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="donationcampaigns_list_enabled" value="0"{% if not S_DONATIONCAMPAIGNS_LIST_ENABLED %} id="donationcampaigns_list_enabled" checked{% endif %} > {{ lang('NO') }}</label>
		</dd>
	</dl>
</fieldset>

<p class="submit-buttons">
	<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
	<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
	{{ S_FORM_TOKEN }}
</p>

</form>

{% if S_DONATIONCAMPAIGNS_HAS_AMOUNTS and not S_DONATIONCAMPAIGNS_CONFIRM_EXPONENT %}
	{% INCLUDEJS 'donationcampaigns_settings.js' %}
{% endif %}

{% include 'overall_footer.html' %}
